<!-- CONTACT -->
<section class="contact" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mr-lg-5 col-12">
                <div class="about-image svg">

                    <img src="/images/baseSiteImages/designGIF.gif" class="img-fluid" alt="svg image">
                </div><br>
            </div>

            <div class="col-lg-6 col-12">
                <div class="contact-form">
                    <h2 class="mb-4">Tanışmak ister misiniz? Hadi konuşalım!</h2>
                    <p>
                        Merak ettiklerin, aklına takılan soruların olabilir. Bende bazen günlerce bir problem üzerinde
                        uğraşıyor ve düşünüyorum. Böyle durumlarda çekinmeden bana ulaşabilirsin. Sana yardımcı
                        olabilmek için aşağıdaki kısıma sosyal medya linklerimi ekledim.
                    </p>
                    <p>
                        Gün içerisinde maalesef genellikle meşgulüm, projelerimle uğraşıyor veya işte olabiliyorum. O
                        yüzden cevap alamazsan lütfen acele etme, en kısa sürede sana ulaşmaya ve sorunu cevaplamaya
                        çalışacağım.
                    </p>
                    <p>
                        Tekrar görüşüne kadar kendine çok iyi bak. Sağlıcakla kal…
                    </p>
                </div>
            </div>
        </div>
        <p class="social-links" style="text-align: center; font-size: 155%;">
            <a href="https://github.com/KaganCanSit" class="fa fa-github" title="Github"></a> |
            <a href="https://twitter.com/kagancansit" class="fa fa-twitter" title="Twitter"></a> |
            <a href="https://www.linkedin.com/in/kagancansit/" class="fa fa-linkedin" title="Linkedin"></a> |
            <a href="https://www.instagram.com/kagancansit/" class="fa fa-instagram" ntitle="Instagram"></a> |
            <a href="mailto:kagancansit@hotmail.com" class="fa fa-send" title="Outlook"></a>
        </p>
    </div>
</section>

<!-- FOOTER -->
<footer class="footer py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <p class="copyright-text text-center">Copyright &copy; 2022 - Kağan Can Şit | Umarım sana katkı sağlayan
                    ve bilgi katan içerikler bulmuşsundur.🏹</p>
            </div>
        </div>
    </div>
</footer>